/* Tablet Menu */
@media all and (min-width:700px) {
    .menu{justify-content: center}
    .logo{flex: 1}
    .hero-section{height: 500px;}
    .my-info{display: flex;flex-wrap: wrap; justify-content: center;align-items: center;}
    .about-me .my-info > div{padding: 8px;flex:1 1 50%}
    .projects{display: flex;flex-direction: row;flex-wrap: wrap;gap: 0.5em;}
    .projects > div{flex: 1 1 48.9999%;}
    .contact-me{display: flex;justify-content: space-between;align-items: center;gap: 1em;}
    .contact-me .contact-info{width: 40%;}
    .contact-me .contact-form{flex: 1;}
    .footer{flex-direction: row;flex-wrap: wrap;}
    .footer > div{flex: 1 1 30%}
}

/* Desktop menu */
@media all and (min-width: 960px) {
    .menu{align-items: flex-start;flex-wrap: nowrap;background: none}
    .logo{order: 0}
    .item{order: 1;position: relative;display: block;width: auto}
    .submenu-active .submenu{display: block;position: absolute;left: 0;top: 68px;background: #111}
    .toggle{display: none}
    .submenu-active{border-radius: 0}
    .hero-section{height: 568px;}
    .intro h1{font-size: 64pt;line-height: 1.5;}
    .intro span{font-size: x-large;}
    .about-me .my-info{flex-wrap: nowrap;align-items: flex-start;}
    .about-me .my-info > *{padding: 8px;flex:1 1 100%}
    .my-info .image-box{padding: 8px;border-style: ridge solid;border-width: 6px 0 6px 6px;}
    .skills .my-skills{display: flex;flex-wrap: wrap;justify-content: space-around;gap: 15px;} 
    .skills .my-skills > div{flex: 1 1 30%}
    .projects > div{flex: 1 1 30%;}
}
